# Required connection configs for Kafka producer, consumer, and admin
# bootstrap server - do not include the protocol e.g. pkc-2396y.us-east-1.aws.confluent.cloud:8443
bootstrap.servers=your_hostname
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
# username for kafka
sasl.username=your_api_key
# password for kafka
sasl.password=your_api_secret
compression.type=lz4
batch.size=10000
request.timeout.ms=120000
queue.buffering.max.messages=200000
